[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "doconv"]
	path = doconv
	url = https://github.com/ardata-fr/doconv
[submodule "equatags"]
	path = equatags
	url = https://github.com/ardata-fr/equatags
[submodule "locatexec"]
	path = locatexec
	url = https://github.com/ardata-fr/locatexec
[submodule "mschart"]
	path = mschart
	url = https://github.com/ardata-fr/mschart
[submodule "workspace"]
	path = workspace
	url = https://github.com/ardata-fr/workspace
