[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "equatags"]
	path = equatags
	url = https://github.com/ardata-fr/equatags
	shallow = true
	registered = true
[submodule "mschart"]
	path = mschart
	url = https://github.com/ardata-fr/mschart
	shallow = true
	registered = true
